<div class="box box-mini">
  <div class="count">
    <div>
      <h3 class="text-blue">{{count.count | countFormat}}</h3>
      <p>{{count.title}}</p>
    </div>
    <img class="pull-right" src="{{count.icon}}" alt="" />
  </div>
  <div
    [class.bg-blue]="count.name == 'leads'"
    [class.bg-red]="count.name == 'pendings'"
    [class.bg-green]="count.name == 'closed'"
    [class.bg-orange]="count.name == 'completed'"
    class="change">% change <img class="pull-right" src="{{count.chart}}" alt="" /></div>
</div>
