@import "../../styles/index";

header {
  position: relative;
  z-index: 20;
  .logo {
    background-color: $dark-blue;
    color: white;
    display: block;
    float: left;
    min-height: $header-height;
    width: $sidebar-width;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: $header-height;
    padding-left: 30px;
    font-weight: 700;
    @include transition(background, 0.3s, ease-in)
    &:hover {
      background-color: $blue;
    }
    @media(max-width: 768px) {
      float: none;
      width: 100%;
    }
  }
  .header-wrapper {
    background-color: $blue;
    min-height: $header-height;
    .collapse {
      padding: 23px;
      float: left;
      color: white;
      font-size: 18px;
      display: none;
      @media(max-width: 768px) {
        display: block;
      }
    }
    .header-title {
      float: left;
      color: #c5cae9;
      padding: 23px;
      font-size: 18px;
      &:hover {
        color: white;
      }
    }
    .header-menu {
      min-height: $header-height;
      float: right;
      @media(max-width: 768px) {
        float: none;
      }
      ul {
        display: inline-block;
        li {
          padding: 23px 20px;
          float: left;
          position: relative;
          a {
            color: white;
            font-size: 18px;
          }
          small {
            position: absolute;
            top: 16px;
            right: 12px;
          }
        }
      }
    }
  }
}
