<header>
  <a class="logo" routerLink="/"><i class="fa fa-gg" aria-hidden="true"></i> Infinity</a>
  <div class="header-wrapper">
    <a class="collapse" href="#" (click)="toggleSidebar();false;">
      <i *ngIf="!sidebarOpen" class="fa fa-bars" aria-hidden="true"></i>
      <i *ngIf="sidebarOpen" class="fa fa-times" aria-hidden="true"></i>
    </a>
    <a class="header-title" href="#">Dashboard</a>
    <div class="header-menu">
      <ul>
        <li>
          <a href="#"><i class="fa fa-bell" aria-hidden="true"></i></a>
          <small *ngIf="notifications.apps != 0" class="label label-circle pull-right bg-red">{{notifications.apps}}</small>
        </li>
        <li>
          <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>
          <small *ngIf="notifications.emails != 0" class="label label-circle pull-right bg-red">{{notifications.emails}}</small>
        </li>
        <li>
          <a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-th" aria-hidden="true"></i></a>
        </li>
      </ul>
    </div>
  </div>
</header>
